{
  "pid": "bw.resource.jdbc.factory",
  "properties": {
    "factory.pid": {
      "name": "factory.pid",
      "value": "bw.resource.jdbc",
      "type": "java.lang.String"
    },
    "factory.pidList": {
      "name": "factory.pidList",
      "value": [
        {
          "value": "bw.resource.jdbc.71edafa8-0de3-4464-84bb-a77a42cc38b5",
          "type": "java.lang.String"
        },
        {
          "value": "bw.resource.jdbc.22f156a3-b7b2-4d5f-bda7-42bbd7466917",
          "type": "java.lang.String"
        }
      ],
      "type": "[Ljava.lang.String;"
    }
  }
}